In [20]:
import pandas as pd
import numpy as np

In [21]:
dataset = pd.read_csv('datasets/bank-additional-full.csv', sep = ";")

In [24]:
dataset[:10]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,4,2,1,0,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
1,57,8,2,4,2,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
2,37,8,2,4,0,1,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
3,40,1,2,2,0,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
4,56,8,2,4,0,0,1,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
5,45,8,2,3,2,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
6,59,1,2,6,0,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
7,41,2,2,8,2,0,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
8,24,10,3,6,0,1,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
9,25,8,3,4,0,1,0,2,5,1,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0

In [23]:

# creating a dict file  
job = {'admin.': 1,'blue-collar': 2,'entrepreneur': 3,'housemaid': 4,'management': 5,'retired': 6,'self-employed': 7,'services': 8,'student': 9,'technician':10,'unemployed':11,'unknown':12}
marital = {'divorced': 1,'married': 2,'single': 3,'unknown':4} 
education = {'basic.4y': 1,'basic.6y': 2,'basic.9y': 3,'high.school':4,'illiterate':5,'professional.course':6,'university.degree': 7,'unknown': 8}

day_of_week = {'mon': 1,'tue': 2,'wed': 3,'thu': 4,'fri': 5}
y = {'yes': 1, 'no': 0}

# traversing through dataframe 
# Gender column and writing 
# values where key matches 
dataset.job = [job[item] for item in dataset.job]
dataset.marital = [marital[item] for item in dataset.marital]
dataset.education = [education[item] for item in dataset.education]

default = {'no': 0, 'yes': 1, 'unknown': 2}
housing = {'no': 0, 'yes': 1, 'unknown': 2}
loan = {'no': 0, 'yes': 1, 'unknown': 2}

dataset.default = [default[item] for item in dataset.default]
dataset.housing = [housing[item] for item in dataset.housing]
dataset.loan = [loan[item] for item in dataset.loan]

contact = {'cellular': 1,'telephone': 2}
month = {'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
poutcome = {'failure': 1,'nonexistent': 2,'success': 3}

dataset.contact = [contact[item] for item in dataset.contact]
dataset.month = [month[item] for item in dataset.month]
dataset.poutcome = [poutcome[item] for item in dataset.poutcome]

day_of_week = {'mon': 1,'tue': 2,'wed': 3,'thu': 4,'fri': 5}
y = {'yes': 1, 'no': 0}

dataset.day_of_week = [day_of_week[item] for item in dataset.day_of_week]
dataset.y = [y[item] for item in dataset.y]

In [25]:
dataset.to_csv (r'datasets/bank.csv', index = False, header=True)